body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  text-decoration: none;
}
/* reset */
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* скидаємо марджин заголовків та параграфів до «0»  */

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
} /*для видалення маркерів елементів списку, скидаємо марджин падінг та  до «0»*/

img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
}

/* common */

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .mobile-button {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
